/* DEFAULTS */
/* H2 */
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #212121;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 480px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("/images/background-main@2x.jpg");
    background-size: 1200px 376px;
  }
}
.hero {
  display: block;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 1.14;
  text-decoration: none;
  margin: 0 auto;
  background: url("/images/background-main-small.jpg");
  color: #ffffff;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    display: block;
    background: url("/images/background-main-medium.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    display: block;
    background: url("/images/background-main.jpg");
  }
}
.hero__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 60px;
  padding-top: 118px;
  padding-bottom: 30px;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    display: flex;
    max-width: 696px;
    font-size: 44px;
    line-height: 136%;
    color: #ffffff;
    padding-top: 200px;
  }
}

.order-button {
  display: flex;
  justify-content: center;
}
.order-button__main {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  margin-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .order-button {
    margin-bottom: 200px;
  }
}

.button-modal {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
}

.lorem {
  display: flex;
  gap: 30px;
  padding-top: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .lorem {
    display: flex;
    flex-wrap: wrap;
  }
}
.lorem__list {
  display: block;
  align-items: center;
  margin: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    gap: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .lorem__list {
    display: flex;
    flex-wrap: unset;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem__list--item {
    flex-basis: calc((100% - 45px) / 4);
  }
}
.lorem__list--box {
  line-height: 171%;
  color: #757575;
  margin-bottom: 30px;
}
.lorem__list--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem__list--icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .lorem__list--icon {
    width: 270px;
    height: 120px;
  }
}
.lorem__list--title {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.lorem__list--text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  max-width: -moz-fit-content;
  max-width: fit-content;
  justify-content: center;
}

.about-us {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about-us {
    display: flex;
  }
}
.about-us__title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  max-width: -moz-fit-content;
  max-width: fit-content;
  align-items: stretch;
  padding-bottom: 50px;
  margin: auto;
}
.about-us__services {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 94px;
}
.about-us__img {
  width: 370px;
  height: 294px;
}
.about-us__text-box {
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  position: relative;
  top: -74px;
}
.about-us__text-box--text {
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 27px;
  z-index: 1;
}

.our-team {
  background-color: #f5f4fa;
}
.our-team__main {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
.our-team__title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 50px;
}
.our-team__cards {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__cards {
    display: flex;
    flex-direction: unset;
    flex-wrap: nowrap;
  }
}
.our-team__cards--box {
  display: block;
  width: 450px;
  height: 622px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__cards--box {
    width: 354px;
    height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__cards--box {
    width: 270px;
    height: 428px;
  }
}
.our-team__cards--name {
  color: #212121;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.our-team__cards--position {
  color: #757575;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.our-team__cards--socials {
  display: flex;
  justify-content: space-around;
  width: 206px;
  height: 56px;
  margin: 0 auto;
  gap: 10px;
  fill: #afb1b8;
}
.our-team__cards--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}
.our-team__cards--icon:hover {
  fill: #ffffff;
  background-color: #2196f3;
}

.clients {
  margin-bottom: 94px;
}
.clients__title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30px;
}
.clients__icons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__icons--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}
.clients__icons--logo:hover {
  border-color: #2196f3;
  border-radius: 4px;
  fill: #2196f3;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  margin: 0px;
}
.footer__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    justify-content: flex-start;
  }
}

.footer-main {
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-main {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer-main {
    display: flex;
  }
}
.footer-main__address {
  display: block;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-main__address {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .footer-main__address {
    display: block;
  }
}
.footer-main__logo {
  display: flex;
  justify-content: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: #ffffff;
  padding-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-main__logo {
    justify-content: flex-start;
  }
}
.footer-main__location {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 171%;
  color: #ffffff;
  letter-spacing: 0.03em;
}
.footer-main__tel {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 171%;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .footer-main__tel {
    justify-content: flex-start;
  }
}
.footer-main__email {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 171%;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}
@media screen and (min-width: 1200px) {
  .footer-main__email {
    justify-content: flex-start;
  }
}

.join-us {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join-us {
    display: block;
  }
}
.join-us__social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.join-us__social-media--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}
.join-us__social-media--icon:hover, .join-us__social-media--icon:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.sign-up {
  display: block;
  gap: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sign-up {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .sign-up {
    display: block;
  }
}
.sign-up__form {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.sign-up__button {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.sign-up__button--newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
}
.sign-up input[type=email] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.sign-up svg {
  fill: #fff;
}
.sign-up__icon {
  display: flex;
  position: absolute;
  right: 28px;
}

.newsletter-box {
  display: block;
  gap: 12px;
}
@media screen and (min-width: 1200px) {
  .newsletter-box {
    display: flex;
  }
}

.portfolio {
  width: 572px;
  padding-top: 94px;
  padding-bottom: 34px;
  margin: 0 auto;
}
.portfolio__menu {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 0px 22px;
}
.portfolio__menu--button {
  height: 38px;
  background-color: #F5F4FA;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  color: #212121;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
}
.portfolio__menu--button:hover, .portfolio__menu--button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 94px;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 404px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.project-card:hover, .project-card:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-card__image {
  position: relative;
  overflow: hidden;
}
.project-card__image--overlay {
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9019607843);
  position: absolute;
  bottom: 0;
  overflow: hidden;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-card__text {
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
}
.project-card__border {
  justify-content: flex-start;
  height: 110px;
  width: 370px;
  border: #EEEEEE 1px solid;
  border-top: none;
  margin: 0 auto;
  padding: 20px 24px;
}
.project-card__description {
  font-size: 16px;
  line-height: 188%;
  color: #757575;
}
.project-card__name {
  color: #212121;
  display: flex;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
}

.project-card:hover .project-card__image--overlay {
  transform: translateY(0);
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 93px;
  left: 15px;
  width: 450px;
  height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    top: 208px;
    left: 159px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    left: 536px;
    top: 221px;
    width: 528px;
    height: 581px;
  }
}
.modal__backdrop {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  cursor: not-allowed;
  transform: scale(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 40px;
}
.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  margin-top: 2px;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__icon {
  display: flex;
  position: absolute;
  fill: #212121;
  margin-top: 12px;
  margin-left: 11px;
}
.modal__label {
  display: block;
  font-style: normal;
  max-height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
  margin: 10px 40px 10px 40px;
}
.modal__label--comment {
  max-height: 138px;
  display: block;
  font-style: normal;
  max-height: 138px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #757575;
  margin: 10px 40px 10px 40px;
}
.modal__label--policy {
  display: flex;
  align-items: center;
  position: relative;
  font-style: normal;
  max-height: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 55px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal__label--policy {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__label--policy {
    font-size: 14px;
  }
}
.modal__label--policy p {
  padding-bottom: 4px;
  padding-left: 7px;
}
.modal__label--policy a {
  text-decoration: underline;
  color: #2196f3;
}
.modal__label__input {
  display: block;
  width: 100%;
  max-height: 100%;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}
.modal__label__input:hover svg {
  border-color: #2196f3;
  fill: #2196f3;
}

.modal__input:hover svg {
  border-color: #2196f3;
  fill: #2196f3;
}

.checkbox {
  width: 16px;
  height: 15px;
  position: relative;
  visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: 0;
}
.checkbox__checked {
  position: absolute;
  width: 16px;
  height: 15px;
  visibility: hidden;
  pointer-events: none;
}
.checkbox__checked:checked {
  background-image: url(/images/icons-checkbox.svg#icon-icon-checked-checkbox);
  z-index: 10;
}
.checkbox__unchecked {
  position: absolute;
  width: 16px;
  height: 15px;
  visibility: hidden;
  pointer-events: none;
}

.checkbox:checked ~ .checkbox__checked {
  visibility: visible;
  background: red;
}

.checkbox:checked {
  background-image: url(/images/icons-checkbox.svg#icon-icon-checked-checkbox);
  z-index: 10;
}

.checkbox:not(:checked) ~ .checkbox__unchecked {
  visibility: visible;
}

input[type=text] {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
input[type=text]:hover {
  border-color: #2196F3;
}
input[type=text]:focus {
  outline: none;
  border-color: #2196F3;
}

input[type=tel] {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
input[type=tel]:hover {
  border-color: #2196F3;
}
input[type=tel]:focus {
  outline: none;
  border-color: #2196F3;
}

input[type=email] {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
input[type=email]:hover {
  border-color: #2196F3;
}
input[type=email]:focus {
  outline: none;
  border-color: #2196F3;
}

textarea {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  margin-left: 0;
}
textarea:hover {
  border-color: #2196F3;
}
textarea:focus {
  outline: none;
  border-color: #2196F3;
}

input placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.menu-container.is-open {
  transform: translateX(0);
}

.button-hamburger {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.button-hamburger:hover {
  fill: #2196f3;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-hamburger {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .button-hamburger {
    display: none;
  }
}

.menu-container {
  position: fixed;
  background-color: #ffffff;
  inset: 0;
  display: block;
  transform: translateX(100%);
  transition: transformn 250ms;
}
.menu-container__close-btn {
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  background: transparent;
}
.menu-container__close-btn:hover {
  fill: #2196f3;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 28px;
}
.mobile-menu__nav {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 302px;
  gap: 36px;
}
.mobile-menu__nav--link {
  color: #212121;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.mobile-menu__nav--link:hover {
  color: #2196f3;
}
.mobile-menu__tel {
  color: #2196f3;
  font-size: 34px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.68px;
  margin-left: 20px;
}
.mobile-menu__mail {
  color: #757575;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-left: 20px;
}
.mobile-menu__socials {
  margin-left: 20px;
  margin-top: 64px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  gap: 10px;
}
.mobile-menu__socials--link {
  color: #2196f3;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.36px;
}

.page-nav {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-nav {
    display: flex;
    justify-content: space-between;
    gap: 101px;
  }
}
@media screen and (min-width: 1200px) {
  .page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 46px;
  margin-left: 0;
}
.nav-menu__logo {
  font-family: "Raleway";
  font-style: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: #000;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-right: 93px;
}
.nav-menu__logo--web {
  color: #2196f3;
}

.nav-list {
  display: none;
  justify-content: space-between;
  width: 254px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #212121;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .nav-list {
    display: flex;
  }
}
.nav-list__links {
  color: #212121;
}
.nav-list__links:visited, .nav-list__links:active {
  color: #212121;
}
.nav-list__links:hover, .nav-list__links:focus {
  color: #2196f3;
}
.nav-list__links--agency {
  color: #212121;
}
.nav-list__links--agency::after {
  content: "";
  display: block;
  position: relative;
  top: 25.5px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
.nav-list__links--agency:visited {
  color: #212121;
}
.nav-list__links--agency:hover, .nav-list__links--agency:focus {
  color: #2196f3;
}
.nav-list__links--agency--portfolio {
  color: #212121;
}
.nav-list__links--agency--portfolio::after {
  content: "";
  display: block;
  position: relative;
  top: 25.5px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
.nav-list__links--agency--portfolio:visited {
  color: #212121;
}
.nav-list__links--agency--portfolio:hover, .nav-list__links--agency--portfolio:focus {
  color: #2196f3;
}

.nav-contacts {
  display: flex;
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 321px;
  padding-top: 32px;
  padding-bottom: 32px;
  row-gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .nav-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.nav-contacts__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 321px;
  row-gap: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-contacts__menu {
    display: block;
    padding-right: 15px;
  }
}
.nav-contacts__item {
  display: flex;
  padding-right: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-contacts__item {
    padding-bottom: 10px;
  }
}
.nav-contacts__link {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 0;
  color: #757575;
}
.nav-contacts__link:hover, .nav-contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}
.nav-contacts__link:visited, .nav-contacts__link:active {
  color: #757575;
}/*# sourceMappingURL=main.css.map */