body {
    font-family: $defaultFontFamily;
    font-style: $defaultFontStyle;
    font-weight: $defaultFontWeight;
    color: $defaultFontColor;
}

h2 {
    font-weight: $h2FontWeight;
    font-size: $h2FontSize;
    line-height: $h2LineHeight;
    text-align: $h2TextAlign;
    letter-spacing: $h2LetterSpacing;
    color: $defaultFontColor;
}

a {
    text-decoration: $defaultTextDecoration;
}
p {
    margin: $defaultMargin;
    padding: $defaultPadding;
}

ul {
    list-style-type: $defaultListStyleType;
    padding: $defaultPadding;
    margin: $defaultMargin;
}

.container {
    width: 1200px;
    margin: 0 200px;
}

.modal p {
    padding-bottom: 4px;
}