.hero {
  display: block;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 1.14;
  text-decoration: none;
  margin: 0 auto;
  background: url("/images/background-main-small.jpg");
  color: #ffffff;

  @include tablet {
    display: block;
    background: url("/images/background-main-medium.jpg");
  }

  @include desktop {
    display: block;
    background: url("/images/background-main.jpg");
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    font-size: 26px;
    font-weight: 900;
    line-height: 60px;
    padding-top: 118px;
    padding-bottom: 30px;
    margin: auto;

    @include desktop {
      display: flex;
      max-width: 696px;
      font-size: 44px;
      line-height: 136%;
      color: #ffffff;
      padding-top: 200px;
    }
  }
}
