.lorem-list {
    display:flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 94px;

    &__box {
        line-height: 171%;
        color: #757575;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        background-color: #F5F4FA;
        margin-bottom: 30px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
    }

    &__text {
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: #757575; 
    }
}