.menu-container.is-open {
  transform: translateX(0);
}

.button-hamburger {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    fill: #2196f3;
  }

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.menu-container {
  position: fixed;
  background-color: #ffffff;
  inset: 0;
  display: block;
  transform: translateX(100%);
  transition: transformn 250ms;

  &__close-btn {
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    background: transparent;

    &:hover {
      fill: #2196f3;
    }
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 28px;

  &__nav {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 302px;
    gap: 36px;

    &--link {
      color: #212121;
      font-size: 40px;
      font-family: Roboto;
      font-weight: 500;
      letter-spacing: 0.8px;

      &:hover {
        color: #2196f3;
      }
    }
  }

  &__tel {
    color: #2196f3;
    font-size: 34px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.68px;
    margin-left: 20px;
  }

  &__mail {
    color: #757575;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-left: 20px;
  }

  &__socials {
    margin-left: 20px;
    margin-top: 64px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    gap: 10px;

    &--link {
      color: #2196f3;
      font-size: 18px;
      font-family: Roboto;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0.36px;
    }
  }
}
