.page-nav {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;

  @include tablet {
    display: flex;
    justify-content: space-between;
    gap: 101px;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 46px;
  margin-left: 0;

  &__logo {
    font-family: "Raleway";
    font-style: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    color: #000;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-right: 93px;

    &--web {
      color: #2196f3;
    }
  }
}

.nav-list {
  display: none;
  justify-content: space-between;
  width: 254px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #212121;

  @include tablet {
    display: flex;
  }

  @include desktop {
    display: flex;
  }

  &__links {
    color: #212121;

    &:visited,
    &:active {
      color: #212121;
    }

    &:hover,
    &:focus {
      color: #2196f3;
    }

    &--agency {
      color: #212121;

      &::after {
        content: "";
        display: block;
        position: relative;
        top: 25.5px;
        width: 100%;
        height: 4px;
        background-color: #2196f3;
        border-radius: 2px;
      }

      &:visited {
        color: #212121;
      }

      &:hover,
      &:focus {
        color: #2196f3;
      }

      &--portfolio {
        color: #212121;

        &::after {
          content: "";
          display: block;
          position: relative;
          top: 25.5px;
          width: 100%;
          height: 4px;
          background-color: #2196f3;
          border-radius: 2px;
        }

        &:visited {
          color: #212121;
        }

        &:hover,
        &:focus {
          color: #2196f3;
        }
      }
    }
  }
}

.nav-contacts {
  display: flex;
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 321px;
  padding-top: 32px;
  padding-bottom: 32px;
  row-gap: 30px;

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include desktop {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 321px;
    row-gap: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    @include tablet {
      display: block;
      padding-right: 15px;
    }
  }

  &__item {
    display: flex;
    padding-right: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    @include tablet {
      padding-bottom: 10px;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 0;
    color: #757575;

    &:hover,
    &:focus {
      color: #2196f3;
      fill: #2196f3;
    }

    &:visited,
    &:active {
      color: #757575;
    }
  }
}
