body {
  font-family: $defaultFontFamily;
  font-style: $defaultFontStyle;
  font-weight: $defaultFontWeight;
  color: $defaultFontColor;
}

a {
  text-decoration: $defaultTextDecoration;
}
p {
  margin: $defaultMargin;
  padding: $defaultPadding;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: $defaultListStyleType;
  padding: $defaultPadding;
  margin: $defaultMargin;
}

.container {
  width: 480px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include tablet {
    min-width: 768px;
  }

  @include desktop {
    min-width: 1200px;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url("/images/background-main@2x.jpg");
    background-size: 1200px 376px;
  }
}
