/* DEFAULTS */
$defaultFontFamily: Roboto, sans-serif;
$defaultFontStyle: normal;
$defaultFontWeight: 400;
$defaultFontColor: #212121;
$defaultTextDecoration: none;
$defaultMargin: 0;
$defaultPadding: 0;
$defaultListStyleType: none;

/* H2 */
$h2FontWeight: 700;
$h2FontSize: 36px;
$h2LineHeight: 42px;
$h2TextAlign: center;
$h2LetterSpacing: 3%;






